html 
{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

#head:hover
{
    color: red;
}

.wow
{
    border: 0.01px solid rgb(78, 78, 78);
}


img {
    float: left;
  }

  nav{
      display: flex;
  }

  .line1
{
    border: 0.01px solid rgba(165, 160, 160, 0.815);
   margin-left: 80px;
   margin-right: 80px;
   margin-top: 30px;
}
